/* Images */
.collection-item-full .image-display img {
	max-width: 100%;
	max-height: 75vh;
	height: 550px;
	object-fit: contain;
}

.collection-item-full .model-display {
	max-width: 100%;
	max-height: 75vh;
	height: 550px;
	model-viewer {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
}

.hero-image .hero-body {
	height: 550px;
	max-height: 75vh;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.hero-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.image-display.exhibit {
	margin: 0 auto;
	width: fit-content;

}

.image-display.exhibit:has(.carousel) {
	width: 100%;
}

.image-display.iiif {
	width: 100%;
}

.mirador .fullscreen {
	height: 550px;
	position: relative;
}

/* Object data */
.content dt {
	font-weight: bold;
}

.content {
	h1, h2, h3, h4, h5, h6 {
		a {
			color: var(--bulma-content-heading-color);
		}
	}
}

/* Carousel */
/* Fix carousel to center images */
.slider-item img {
	display: block;
	margin: 0 auto;
}

/* Fix overflowing carousels */
.carousel {
	overflow: hidden;
}

/* Dim carousel buttons */
.card {
	.slider-navigation-previous, .slider-navigation-next {
		opacity: .7;
		&:hover {
			opacity: 1;
		}
	}
}

/* Tabs */
.tabs-content li {
	display: none;
	list-style: none;
	&.is-active {
		display: block;
	}
}

/* Fix card images to keep aspect ratio */
.is-square img {
	object-fit: cover;
}
